<!DOCTYPE html>
<html class="font-sans-serif">
    <head>
        <title>Ambiguous Search</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='defaultpage.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='ambiguouspage.css') }}">
    </head>
    <body>
        <div class = "menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
        <h1 class = "h1">Ambiguous Search</h1>
        <form action="/summary" method="post">
            <div class = "ambiguous-text">
                <p>Does <span class = "kernle-color">"{{concept}}"</span> refer to:</p>
                {% for fconcept in options %}
                    <input type="radio" id="{{fconcept}}" name="fconcept" value="{{fconcept}}">
                    <label for="{{fconcept}}">{{fconcept}}</label><br>
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
