<!DOCTYPE html>
<html>
    <head>
        <title>Ambiguous Search</title>
    </head>
    <body>
        <h1>Ambiguous Search</h1>
        <form action="/summary" method="post">
            <div>
                <p>Does <strong>"{{concept}}"</strong> refer to:</p>
                {% for fconcept in options %}
                    <input type="radio" id="{{fconcept}}" name="fconcept" value="{{fconcept}}">
                    <label for="{{fconcept}}">{{fconcept}}</label><br>
                {% endfor %}
                <br>
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
