<!DOCTYPE html>
<html class="font-sans-serif">
    <head>
        <title>Contact</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='defaultpage.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='feedbackpage.css') }}">
    </head>
    <body>
        <div class = "menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
        <div class = "bottom-menu">
            <ul>
                <li>&copy2024 Kernle</li>
            </ul>
        </div>
        <h1 class = "h1">Feedback</h1>
        <p class = "p">
            Feedback or suggestions for Kernle can be sent to <span class = "kernle-color">eytangf@gmail.com</span>
        </p>
    </body>
</html>