<!DOCTYPE html>
<html class="font-sans-serif"> 
    <head>
        <title>How To Use</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='defaultpage.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='howtousepage.css') }}">
    </head>
    <body>
        <div class = "menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
            </ul>
        </div>
        <div class = "bottom-menu">
            <ul>
                <li>&copy2024 Kernle</li>
            </ul>
        </div>
        <h1 class="h1", >How To Use</h1>
        <p class = "description">Kernle is meant to provide the intuition not the specifics.</p>
        <h2 class = "h2">For Best Results</h2>
        <p class = "p">
            Search the name of the concept (eg. "quantum mechanics") as opposed to extra words (eg. "what is quantum mechanics").
        </p>
    </body>
</html>