<!DOCTYPE html>
<html class="font-sans-serif">
    <head>
        <title>Kernle</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='defaultpage.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='mainpage.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <div class = "menu">
            <ul>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('howToUse') }}">How To Use</a></li>
                <li style = "float:right"><a href="{{ url_for('feedback') }}">Feedback</a></li>
            </ul>
        </div>
        <div class = "bottom-menu">
            <ul>
                <li>&copy2024 Kernle</li>
            </ul>
        </div>
        <!-- the action url is where the search redirects, the method 'post' sends the data to that page-->
        <form class="center-screen" action="/summary" method="post">
            <h1 class="main-page-logo">Kernle</h1>
            <input type="search" class="search-box" id="fconcept" name="fconcept" placeholder="Search Kernle" required>
        </form>
    </body>
</html>