<!DOCTYPE html>
<html class="font-sans-serif">
    <head>
        <title>Kernle</title>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='defaultpage.css') }}">
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='mainpage.css') }}">
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('howToUse') }}">How To Use</a></li>
        </ul>
        <!-- the action url is where the search redirects, the method 'post' sends the data to that page-->
        <form style="text-align: center;" action="/summary" method="post">
            <div>
                <br><br><br><br><br><br><br>
                <h1 class="main-page-logo">Kernle</h1>
                <input type="search" class="center-screen search-box" id="fconcept" name="fconcept" placeholder="Search Kernle" required>
            </div>
        </form>
    </body>
</html>