input {
  width: 500px;
  height: 50px;
}

/* Uses flexbox to center the form content both horizontally and vertically within the viewport. */
.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}


/* Uses 'position: absolute' to position the logo relative to the centered search box.
The 'top: 40%' and 'transform: translateY(-100%)' moves the logo above the search box,
ensuring it stays centered. Adjust the 'top' value if needed to fine-tune the position. */
.main-page-logo {
  position: absolute;
  color: #9ACD32;
  font-size: 100px;
  top: 22%;
}

.search-box {
  width: 35%; /* Adjust this value as needed */
  padding: 10px;
  font-size: 20px;
}